<nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" style="font-family: 'Kaushan Script', cursive; font-size: 2rem;" href="#">JobApplix.com</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ui-sref="signup">Sign Up</a>
                    </li>
                    <li>
                        <a ui-sref="login">Log In</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>JobApplix</h1>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a ui-sref="signup" class="btn btn-primary btn-lg"><span class="network-name">Sign Up</span></a>
                            </li>
                            <li>
                                <a ui-sref="login" class="btn btn-primary btn-lg"><span class="network-name">Log In</span></a>
                            </li>
                        </ul>
                        <span class="tag-line-no-blink">When can you start?</span>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
      <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Welcome to JobApplix!</h2>
                    <p class="lead">JobApplix provides the ability for businesses to customize their job applications and take full control of the hiring process. We provide a custom application template allowing each business to select the most important information they need in order to find the perfect candidate for their position. With our custom application builder, and easy to use business portal, you will quickly see improvements in the quality of your applicants and your hiring process. So, "When can you start?"</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="clearfix"></div>
                    <p class="splash-quote">“Using JobApplix has shortened our hiring process by letting us filter the exact applicants we are looking for. We’ve never been as fully staffed with qualified, capable, and happy employees as we have since we started using JobApplix!”</p>
                    <p class="splash-quote">-Actual JobApplix user</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">No More Stock Applications:</h2>
                    <p class="lead">Get away from generic paper applications. We know that each business is unique, that is why we put the power to craft your application in your hands. Begin by building an application that caters to your business's employment needs. Choose from a wide variety of questions (including custom shift times), or simply add your own.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://jobapplix.s3.amazonaws.com/customapp.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Custom URL's:</h2>
                    <p class="lead">When you create an account, you will also create a custom URL. This will be the gateway to your application, and where you will send prospective candidates to fill out their application. Print it on signs, business cards, or other websites. The sky is the limit to how advertise your position.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="https://jobapplix.s3.amazonaws.com/clientapp.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Take Control of the Hiring Process:</h2>
                    <p class="lead">Once you receive applications, you will instantly see them appear in your custom business portal. From here you can group them, sort them, search them, or comment on them.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://jobapplix.s3.amazonaws.com/dashapps.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Group Your Applications:</h2>
                    <p class="lead">Some candidates are better suited for your position than others. Group your applications in 5 differnet categories:<br>
                      <strong>Not Hired</strong>: Applications that you will not be moving forward with.<br>
                      <strong>Pile</strong>: For candidates you may pass on, but still want to keep the application for future consideration.<br>
                      <strong>High Potential</strong>: A holding group for applications you are very excited about.<br>
                      <strong>In Progress</strong>: Candidates that you are currently in the process of talking to / interviewing.<br>
                      <strong>Hired</strong>: Congratulations! You have hired a candidate!
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="https://jobapplix.s3.amazonaws.com/dashmoveapp.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Filter By Availability:</h2>
                    <p class="lead">Do you have certain shifts that you need filled quick? Easily and quickly filter the candidates by thier provided availability.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://jobapplix.s3.amazonaws.com/dashavailfilter.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" style="text-align: center">Sign up risk free and get your business started now, You will never look back to the tedious, generic, old school way of hiring again!</h2>
                    <div class="text-center">
                      <a ui-sref="signup"><button class="btn btn-lg btn-primary"> Click Here To Sign Up!</button></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="mailto:jobapplix@gmail.com">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; JobApplix 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>