<div class='row application'>
<div class='col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2'>
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>{{businessData.name}}</h1><span>http://www.jobapplix.com/apply/{{businessData.customUrl}}</span>
      <p>{{businessData.email}}</p>
      <p>{{businessData.phone}}</p>
      <p>{{businessData.website}}</p>
    </div>
  </div>
  <div>
    <div class='panel panel-primary' ng-if="template.basicInfo">
      <div class='panel-heading'>
        <div class='panel-title'><h4>General Information<h4></div>
      </div>  
      <div class='panel-body'>
          <p>First Name: <input ng-model="application.firstName" /> Middle Name: <input ng-model="application.middleName" /> Last Name: <input ng-model="application.lastName" /></p>
          <p>Phone Number: <input ng-model="application.phone" /></p>
          <p>Email Address: <input ng-model="application.email" /></p>
          <p>City: <input ng-model="application.city" /> <p>
          <p>Zip: <input ng-model="application.zip" /></p>
      </div>
    </div>
    <div class='panel panel-primary' ng-if="template.availability">
      <!-- availability -->
      <div class='panel-heading'>
        <div class='panel-title'><h4>Position and Availability<h4></div>
      </div>
        <ul class='list-group'>
          <li class='list-group-item'>
            <div ng-if="template.position">
              <p>What position are you applying for? <input type="text" ng-model="application.position" /></p>
            </div>
          </li>
          <li class='list-group-item'>
            <div ng-if="template.fullOrPartime">
              <p>Are you applying for Full or Partime work? <input type="text" ng-model="application.fullOrPartime" /></p>
            </div>
          </li>
          <li class='list-group-item'>
            <div ng-if="template.backgroundCheck">
              <p>Are you willing to submit a pre-employment background check? <input type="checkbox" ng-model="application.backgroundCheck" /> Yes</p>
            </div>
          </li>
          <li class='list-group-item'>
            <div ng-if="template.drugTest">
            <!-- drug test -->
              <p>Are you willing to submit a pre-employment drug screen? <input type='checkbox' ng-model='application.drugTest' /> Yes</p>
            </div>
          </li>
        </ul>
        <table class='table table-striped'>
          <thead>
          <tr>
            <th><p>Available:</p></th>
            <th><p>Monday</p></th>
            <th><p>Tuesday</p></th>
            <th><p>Wednesday</p></th>
            <th><p>Thursday</p></th>
            <th><p>Friday</p></th>
            <th><p>Saturday</p></th>
            <th><p>Sunday</p></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>AM (open-5pm)</td>
            <td><input type="checkbox" ng-model="application.availability.amMon" /></td>
            <td><input type="checkbox" ng-model="application.availability.amTues" /></td>
            <td><input type="checkbox" ng-model="application.availability.amWed" /></td>
            <td><input type="checkbox" ng-model="application.availability.amThurs" /></td>
            <td><input type="checkbox" ng-model="application.availability.amFri" /></td>
            <td><input type="checkbox" ng-model="application.availability.amSat" /></td>
            <td><input type="checkbox" ng-model="application.availability.amSun" /></td>
          </tr>
          <tr>
            <td>PM (5pm-close)</td>
            <td><input type="checkbox" ng-model="application.availability.pmTues" /></td>
            <td><input type="checkbox" ng-model="application.availability.pmWed" /></td>
            <td><input type="checkbox" ng-model="application.availability.pmThurs" /></td>
            <td><input type="checkbox" ng-model="application.availability.pmFri" /></td>
            <td><input type="checkbox" ng-model="application.availability.pmSat" /></td>
            <td><input type="checkbox" ng-model="application.availability.pmSun" /></td>
            <td><input type="checkbox" ng-model="application.availability.pmMon" /></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        <div class='panel-title'><h4>Previous History</h4><small>(Checking yes to any of these questions does NOT automatically exclude you from the position)</small></div>
      </div>
      <ul class='list-group'>
        <li class='list-group-item'>
          <div ng-if="template.fired">
          <!-- fired -->
            <p> Have you ever been fired or asked to resign from a position?   <input type='checkbox' ng-model='application.fired' /> Yes</p>
            <p ng-if='application.fired'> Please explain:
            <input type='text' ng-model='application.firedExplanation' /></p>
          </div>
        </li>
        <li class='list-group-item'>
          <div ng-if="template.crimes">
          <!-- crimes -->
            <p> Have you ever been conviced of a crime(do not count traffic violations)?  <input type='checkbox' ng-model='application.crimes' /> Yes</p>
            <p ng-if='application.crimes'> Please explain:
            <input type='text' ng-model='application.crimesExplanation' /></p>
          </div>
        </li>
      </ul>
    </div>
    <div ng-if="template.workReferences">
      <!-- work references -->
      <p>Please provide your last three work references:</p>
      <div ng-repeat='ref in application.workReferences track by $index' style='border: 1px solid yellow'>
        <p>Job #{{$index + 1}}</p>
        <p>Employer Name/Place of Employment: <input type='text' ng-model='ref.employerName'></p>
        <p>Employer address: <input type='text' ng-model='ref.address'></p>
        <p>Your Supervisors Name: <input type='text' ng-model='ref.supervisorName'></p>
        <p>Employer Phone Number: <input type='tel' ng-model='ref.phoneNumber'> {{ref.phoneNumber}}</p>
        <p>Your Title: <input type='text' ng-model='ref.title'> Job Duties: <input type='text' ng-model='ref.duties'></p>
        <p>Start Date: <input type='date' ng-model='ref.startDate'> End Date: <input type='date' ng-model='ref.endDate'></p>
        <p>Starting Pay: <input type='text' ng-model='ref.startingPay'> Ending Pay: <input type='text' ng-model='ref.endingPay'></p>
        <p>Your Reason For Leaving: <input type='text' ng-model='ref.reasonForLeaving'></p>
        <p>May we contact this employer? <input type='checkbox' ng-model='ref.canContact'>YES</p>
      </div>
    </div>
    <div ng-if="template.personalReferences" style=" border: 1px solid blue">
    <!-- personal references -->
      <p>Please List three personal references who are not relatives:</p>
      <div ng-repeat='pRefs in application.personalReferences track by $index' style='border: 1px solid green'>
        <p>Name: <input type='text' ng-model='pRefs.name'> Relationship: <input type='text' ng-model='pRefs.relationship'></p>
        <p>Phone number: <input type='text' ng-model='pRefs.phone'> Email: <input type='text' ng-model='pRefs.email'> Address: <input type='text' ng-model='pRefs.address'></p>
        <p>Years Known: <input type='text' ng-model='pRefs.yearsKnown'></p>
    </div>
    <div ng-if="template.education" style='border: 1px solid purple'>
    <!-- education -->
      <p>Please list all Education:</p>
      <div ng-repeat="(schoolType, school) in application.education">
        <p>{{schoolType}}</p>
        <p>Name of School: <input type='text' ng-model='school.schoolName'></p>
        <p>City and State: <input type='text' ng-model='school.location'></p>
        <p>Field of Study: <input type='text' ng-model='school.fieldOfStudy'> Year Completed: <input type='text' ng-model='school.yearsCOmpleted'> Degree Earned: <input type='text' ng-model='school.degree'></p>
      </div>
    </div>
    <div ng-if="template.physicalLimitation">
    <!-- physical limitations -->
      <p>Do you have any limitations that would not allow you to perform the duties of this position? <input type='checkbox' ng-model='application.physicalLimitation'> YES</p>
    </div>
    <div ng-if="template.authWorkInUS">
    <!-- auth to work in US -->
      <p>Are you Authorized to work in the United States of America, and can you furnish proof? <input type='checkbox' ng-model='application.authWorkInUS'> YES</p>
    </div>
    <div ng-if="template.validDriversLicense">
    <!-- drivers license -->
      <p>If needed for the job, do you currently have a valid drivers license? <input type='text' ng-model='application.validDriversLicense'> What is the number and state? <input type='text' ng-model='application.validDriversLicenseNumber'></p>
    </div>
    <div ng-if="template.overFourteen">
    <!-- over fourteen -->
      <p>Are you over 14 years old? <input type='checkbox' ng-model='application.overFourteen' /> YES</p>
    </div>
    <div ng-if="template.overSixteen">
    <!-- over sixteen -->
      <p>Are you over 16 years old? <input type='checkbox' ng-model='application.overSixteen' /> YES</p>
    </div>
    <div ng-if="template.overEighteen">
    <!-- over eighteen -->
      <p>Are you over 18 years old? <input type='checkbox' ng-model='application.overEighteen' /> YES</p>
    </div>
    <div ng-if="template.overTwentyone">
    <!-- over twenty one -->
      <p>Are you over 21 years old? <input type='checkbox' ng-model='application.overTwentyone' /> YES</p>
    </div>
    <div ng-if="template.overtime">
    <!-- overtime -->
      <p>Are you able to work over time? <input type='checkbox' ng-model='application.overtime' /> YES</p>
    </div>
    <div ng-if="template.permanent">
    <!-- permanent -->
      <p>Are you seeking a permanent position? <input type='checkbox' ng-model='application.permanent' /> YES</p>
    </div>
    <div ng-if="template.otherLanguages">
    <!-- other langauages -->
      <p>Do you fluently speak a language other than English? <input type='checkbox' ng-model='application.otherLanguages'> YES</p>
      <p ng-if='application.otherLanguages'>Please Specify which Language: <input type='text' ng-model='application.whichLanguages' /></p>
    </div>
    <div ng-if="template.adequateTrans">
    <!-- adequate trans -->
      <p>Do you have adequate transportation to and from work? <input type='checkbox' ng-model='application.adequateTrans'> YES</p>
    </div>
    <div ng-if="template.specializedSkills">
    <!-- specialized skills -->
      <p>Do you have any specialized skills or training? <input type='checkbox' ng-model='application.specializedSkills'> YES</p>
      <p ng-if='application.specializedSkills'> Please list them here: <input type='text' ng-model='application.specializedSkillsList'></p>
    </div>
    <div ng-if="template.computerRepair">
    <!-- computer repair -->
      <p>Are you certified or authorized to maintian and repair Computers? <input type='checkbox' ng-model='application.computerRepair'> YES</p>
    </div>
    <div ng-if="template.proffesionalCerts">
    <!-- profesional certs -->
      <p>If you have any proffesional certifications please list them here: <input type='text' ng-model='application.proffesionalCerts'></p>
    </div>
    <div ng-if="template.typingSpeed">
    <!-- typing speed -->
      <p>Please list your typing speed: <input type='text' ng-model='application.typingSpeed'> WPM</p>
    </div>
    <div ng-if="template.veteran">
    <!-- veteran -->
      <p>Are you a US veteran? <input type='checkbox' ng-model='application.veteran'> YES</p>
    </div>
    <div ng-if="template.dateAvailableToBeinWork">
    <!-- date available to begin -->
      <p>What is the date you will be available to begin work? <input type='text' ng-model='application.dateAvailableToBeginWork'></p>
    </div>
    <div ng-if="template.otherComments">
    <!-- other comments -->
      <p>Please list any other comments you would like to add: <input type='text' ng-model='application.otherComments'></p>
    </div>
  </div>
    <div><input type="button" ng-click="submit()" value="SUBMIT" /> 
</div>
</div>