<div id="splash-background">
  <div class="col-md-12 splash-container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1 class="logo-splash">JobApplix</h1>
    </div>
    <div class="col-md-8 col-md-offset-2 text-center">
      <span class="tag-line"></span>
    </div>
    <div class="col-md-8 col-md-offset-2 text-center splash-button-group">
      <h4>Not yet a member? Find out what JobApplix can do for your business.</h4>
      <button ng-click='signup()' class='btn btn-lg btn-primary'>Explore</button>
      <h4>Already have an account?</h4>
      <button ng-click='login()' class='btn btn-lg btn-primary'>Log In</button>
    </div>
  </div>
</div>