
  <div>
    <strong>Buisnesses</strong>
    <p>Not yet a member?</p>
    <button ng-click='signup()' class='btn btn-primary'>Sign Up</button>
    <p>Already have an account</p>
    <button ng-click='login()' class='btn btn-primary'>Log In</button>
  </div>
  <div> 
    <strong>Applicants</strong>
    <p>Already have a code to apply?</p>
    <a href='/#/application'>Apply</a>
    <p>If you dont have a code to apply yet, please check back later to search for businesses looking to hire!</p>
  </div>