<div class='splash-container col-md-6 col-md-offset-3'>
  <div class='col-md-8 col-md-offset-2'>
    <h1>Job Applix</h1>
    <label>"When can you start?"</label>
    <strong>Buisnesses</strong>
    <p>Not yet a member?</p>
    <button ng-click='signup()' class='btn btn-primary'>Sign Up</button>
    <p>Already have an account</p>
    <button ng-click='login()' class='btn btn-primary'>Log In</button>
  </div>
  <div class='col-md-6 col-md-offset-3'> 
    <strong>Applicants</strong>
    <p>Already have a code to apply?</p>
    <a href='/#/application'>Apply</a>
    <p>If you dont have a code to apply yet, please check back later to search for businesses looking to hire!</p>
  </div>
</div>  
