/*#navbar { 
  padding-top: 70px; 
}*/

.setup {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 3vh;
  margin-bottom: 10vh;
}

.panel-body {
  font-size: 1.8rem;
}

.panel-text {
  padding-left: 2vw;
}

.formName {
  width: 30%;
}

.suf {
  width: 10%;
}
#splash-background {
  height: 100vh;
  width: 100vw;
  background: url('/JAbackgroundCompressed.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.application-employer-check {
  margin-top: 4px;
  margin-bottom: 5px;
}
.splash-container {
  background-color: rgba(0,0,0,0.5);
  color: rgb(255,255,255);
  margin-top: 20vh;
}

.splash-container h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 10rem;
  text-shadow: 2px 2px #00449E;
}

.splash-container div {
  margin-bottom: 2vh;
}

.apps {
  margin-top: 5vh;
}

.application-button-group {
  float: right;
}

.empty-group {
  color: red;
}

.app-click {
  font-size: 1rem;
  float: right;
  cursor: pointer;
}

.navbar-progressbar {
  width: 85%;
  margin-top: 15px;
}

span.glyphicon-asterisk {
  font-size: 1rem;
  color: red;
}

.application-body {
  margin-top: 75px;
}
.navbar-brand.JA-brand {
  font-family: 'Kaushan Script', cursive;
  color: white;
}
.navbar-hamburger {
  color: white;
  font-size: 3rem;
  margin-right: 2rem;
  margin-top: 1rem;
}

.powered {
  max-height: 50px;
  padding-top: 10px;
}

.panel.panel-primary {
  border-color: #E4E4E4;
}
.alert.alert-danger {
  padding: 5px;
}
.alert.alert-danger strong {
  font-size: 1.5rem;
}

/*images*/
.thumbnail {
  max-width: 300px; 
  max-height: 300px;
  width: auto;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}
.panel-body.images {
  height: 350px;
}
.upload-button {
  position: absolute; 
  bottom: 5rem;
  left: 3rem;
}
.application-logo {
  max-width: 300px;
  max-height: 300px;
  width: auto;
}

/* Sidebar Styles */
.sidebar {
  z-index: 1000;
  position: fixed;
  width: 25rem;
  height: 100%;
  top: 50;
  left: -25rem;
  background-color: rgb(47,108,175);
  transition: left 0.2s;
  border-right: 1px solid dimgrey;
}
.sidebar-toggle {
  left: 0rem;
  transition: left 0.2s;
}
.sidebar-img {
  width: 5rem;
  border-radius: 5rem;
  border: 2px solid dimgrey;
  margin: 2rem 1rem 1rem 1rem;
  background-color: #fff;
  cursor: pointer;
}

.sidebar-name {
  text-align: center;
  font-size: 1.7rem;
  color: white;
  overflow: hidden;
  margin-bottom: 1rem;;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  background-color: #3CADD5;
  height: 100%;
  border-top: 1px solid rgba(202,202,202, 0.5);
}
.sidebar ul li {
  line-height: 2.5rem;
  text-indent: 2rem;
  font-size: 1.5rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}
.sidebar ul li:hover{
  color: white;
  background-color: #3CB8E6;
}
.sidebar ul li a{
  text-decoration: none;
  color: white;
  margin: 0;
}
.content {
  margin-top: 50px;
  margin-left: 0;
  padding-top: 10px;
  transition: margin 0.2s;
}
.content-toggle {
  margin-left: 25rem;
  transition: margin 0.2s;
}

@media(min-width: 992px) {
    #menubarId button {
      display: none;
    }
    .sidebar {
      left: 0rem;
    }
    .sidebar-img {
      width: 12rem;
      max-height: 12rem;
      border-radius: 12rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .content {
      margin-left: 25rem;
    }
    .navbar-hamburger {
      margin-top: 1rem;
    }
}
/*blinky cursor typing*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 4rem;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.tag-line {
  font-size: 4rem;
}