/*body {
  margin-bottom: 10vh;
  background-image: url('http://lorempixel.com/g/640/480/abstract/');
  background-repeat: no-repeat;
  background-size: cover;
}*/
#navbar { 
  padding-top: 70px; 
}

.setup {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 3vh;
  margin-bottom: 10vh;
}

.panel-body {
  font-size: 1.8rem;
}

.panel-text {
  padding-left: 2vw;
}

.formName {
  width: 30%;
}

.suf {
  width: 10%;
}

.application-employer-check {
  margin-top: 4px;
  margin-bottom: 5px;
}

.splash-container {
  background-color: rgba(0,0,0,0.5);
  color: rgb(255,255,255);
  border-radius: 1rem;
  margin-top: 25vh;
}

.splash-container h1 {
  font-size: 6rem;
}

.splash-container div {
  margin-bottom: 5vh;
}

.apps {
  margin-top: 5vh;
}

.application-button-group {
  float: right;
}

.empty-group {
  color: red;
}

.app-click {
  font-size: 1rem;
  float: right;
  cursor: pointer;
}