<div class="apps">
  <div ng-if="group.length === 0">
    <p class='empty-group'>There are no applications in this group</p>
  </div>
  <table class='table table-reponsive table-striped' >
    <thead>
      <tr>
        <th><p>Name:</p></th>
        <th  class="hidden-xs"><p>Date Applied:</p></th>
        <th class="hidden-xs"><p>Position:</p></th>
        <th class="hidden-xs"><p>Email:</p></th>
        <th class="hidden-xs"><p>Phone:</p></th>
        <th><p>Move Group:</p></th>
        <th><p>Comments:</p></th>
        <th><p>Expand:</p></th>
      </tr>
    </thead>
    <tbody ng-repeat="application in group | applicationFilter:$parent.filterObject | searchFilter:$parent.searchParams">
      <tr>
        <td>{{application.firstName}} {{application.middleName}} {{application.lastName}}</td>
        <td class="hidden-xs">{{application.appliedDate | date}}</td>
        <td class="hidden-xs">{{application.position}}</td>
        <td class="hidden-xs"><a href={{"mailto:" + application.email}}>{{application.email}}</a></td>
        <td class="hidden-xs">{{application.phone}}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Move To:
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a ng-click="changeGroup(application, 2)">Hired</a></li>
              <li><a ng-click="changeGroup(application, 6)">Not Hired</a></li>
              <li><a ng-click="changeGroup(application, 4)">High Potential</a></li>
              <li><a ng-click="changeGroup(application, 5)">Pile</a></li>
              <li><a ng-click="changeGroup(application, 3)">In Progress</a></li>
            </ul>
          </div>
        </td>
        <td><button class="btn btn-warning" ng-click="application.commentsExpanded = !application.commentsExpanded">Comments</button></td>
        <td>
          <span class="glyphicon glyphicon-plus" ng-if="!application.expanded" ng-click="application.expanded = !application.expanded" style="font-size: 2rem"></span>
          <span class="glyphicon glyphicon-remove" ng-if="application.expanded" ng-click="application.expanded = !application.expanded" style="font-size: 2rem"></span>
        </td>
      </tr>
      <tr>
        <td ng-if="application.commentsExpanded" colspan="8">
          <div class="panel">
            <div class="panel-body col-md-12">
              <div class="col-md-12">
                <label>Add a Comment:</label>
                <textarea class="form-control" rows="2" ng-model="newComment"></textarea>
              </div>
            </div>
            <div class="panel-footer">
              <button class="btn btn-success" ng-click="addComment(group.indexOf(application), application._id, newComment)">Add Comment to {{application.firstName}} {{application.lastName}}'s application</button>
              <p> Note: Comments can NOT be seen by applicants, ONLY the business owner</p>
            </div>
          </div>
          <div class="panel" ng-if="application.businessComments.length == 0">
            <div class="panel-body col-md-12">
              <label style="color: red">No Comments yet</label>
            </div>
          </div>
          <div class="panel" ng-if="application.businessComments.length > 0" ng-repeat="comment in application.businessComments">
            <div class="pandel-heading">
              <label>Date:</label><span> {{comment.date | date}}</span>
            </div>
            <div class="panel-body col-md-12">
              <p></p>
              <label>Comment:</label>
              <span>{{comment.comment}}</span>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td ng-if="application.expanded" colspan="8">
          <div class="panel panel-primary">
            <div class="panel-body col-md-12">
              <div class="col-md-6">
                <p><strong>Name:</strong> {{application.firstName}} {{application.middleName}} {{application.lastName}}</p>
                <p><strong>Phone Number:</strong> {{application.phone}}</p>
                <p><strong>Email: </strong><a href={{"mailto:"+application.email}}>{{application.email}}</a></p>
                <div ng-if='customTemplate.fullOrPartime'>
                  <p><strong>Applicant prefers to work:</strong> {{application.fullOrPartime}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <p><strong>Date Applied: </strong> {{application.appliedDate | date}}</p>
                <p><strong>City:</strong> {{application.city}}</p>
                <p><strong>Zip:</strong> {{application.zip}}</p>
                <p><strong>Position Applying For:</strong> {{application.position}}</p>
              </div>
            </div>
            <div class="panel-body col-md-12">
              <div class="col-md-6">
                <div ng-if='customTemplate.fired'>
                  <p><strong>Employee has previously been fired or asked to resign:</strong> {{application.fired ? 'Yes' : 'No'}}</p>
                  <p ng-if='application.fired'><strong>Explanation:</strong> {{application.firedExplanation || 'No explanation given'}}</p>
                </div>
                <div ng-if='customTemplate.crimes'>
                  <p><strong>Employee has previously been convicted of a crime:</strong> {{application.crimes ? 'Yes' : 'No'}}</p>
                  <p ng-if='application.fired'><strong>Explanation:</strong> {{application.crimesExplanation || 'No explanation given'}}</p>
                </div>
                <div ng-if='customTemplate.validDriversLicense'>
                  <p><strong>If required for the position, do you currently have a valid drivers license?:</strong> {{application.validDriversLicense ? 'Yes' : 'No'}}</p>
                  <p ng-if='application.validDriversLicense'><strong>What is the number and state?</strong> {{application.validDriversLicenseNumber}}</p>
                </div>
                <div ng-if='customTemplate.overtime'>
                  <p><strong>Are you able to work overtime if necessary?</strong> {{application.overtime ? 'Yes' : 'No'}}</p>
                </div>
                <div ng-if='customTemplate.permanent'>
                  <p><strong>Are you applying for a permanent position?</strong> {{application.permanent ? 'Yes' : 'No'}}</p>
                </div>
                <div ng-if='customTemplate.physicalLimitation'>
                  <p><strong>Do you have any physical limitations that would prevent you from performing the duties of this position?</strong> {{application.physicalLimitation ? 'Yes' : 'No'}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div ng-if='customTemplate.backgroundCheck'>
                  <p><strong>Willing to submit a background check?</strong> {{application.backgroundCheck ? 'Yes' : 'No'}}</p>
                </div>
                <div ng-if='customTemplate.drugTest'>
                  <p><strong>Willing to submit a pre-employment drug test:</strong> {{application.drugTest ? 'Yes' : 'No'}}</p>
                </div>
                <div ng-if='customTemplate.overFourteen'>
                  <p><strong>Are you 14 years old or older?</strong> {{application.overFourteen ? 'Yes' : 'No'}}</p>
                </div>
                <div ng-if='customTemplate.overSixteen'>
                  <p><strong>Are you 16 years old or older?</strong> {{application.overSixteen ? 'Yes' : 'No'}}</p>
                </div>
                <div ng-if='customTemplate.overEighteen'>
                  <p><strong>Are you 18 years old or older?</strong> {{application.overEighteen ? 'Yes' : 'No'}}</p>
                </div>
                <div ng-if='customTemplate.overTwentyone'>
                  <p><strong>Are you 21 years old or older?</strong> {{application.overTwentyone ? 'Yes' : 'No'}}</p>
                <div ng-if='customTemplate.authWorkInUs'>
                  <p><strong>Are you auhtorized to work in the US?</strong>{{application.authWorkInUS ? 'Yes' : 'No'}}</p>
                </div>
                <div ng-if='customTemplate.dateAvailableToBeginWork'>
                  <p><strong>What is the date you are available to begin work?</strong> {{application.dateAvailableToBeginWork | date}}</p>
                </div>
                </div>
                <div ng-if='customTemplate.otherLanguages'>
                  <p><strong>Do you fluently speak a language other than English?</strong> {{application.otherLanguages ? 'Yes' : 'No'}}</p>
                  <p ng-if="application.otherLanguages"><strong>Which Languages?</strong> {{application.whichLanguages}}</p>
                </div>
                <div ng-if='customTemplate.adequateTrans'>
                  <p><strong>Do you have adequate transportation to and from work?</strong> {{application.adequateTrans ? 'Yes' : 'No'}}</p>
                </div>
              </div>
            </div>
            <div ng-if='customTemplate.availability' class='panel-body col-md-12'>
              <table class='table table-reponsive table-striped'>
                  <thead>
                  <tr>
                    <th><p>Available:</p></th>
                    <th ng-if="!customTemplate.customShiftTimes"><p>AM (open-5pm)</p></th>
                    <th ng-if="!customTemplate.customShiftTimes"><p>PM (5pm-close)</p></th>
                    <th ng-if="customTemplate.customShiftTimes"><p>{{customTemplate.shift1.first}} - {{customTemplate.shift1.second}}</p></th>
                    <th ng-if="customTemplate.customShiftTimes"><p>{{customTemplate.shift2.first}} - {{customTemplate.shift2.second}}</p></th>
                    <th ng-if="customTemplate.customShiftTimes && customTemplate.shift3selected"><p>{{customTemplate.shift3.first}} - {{customTemplate.shift3.second}}</p></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Monday:</td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.firstMon"></span></td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.secondMon"></span></td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.thirdMon"></span></td>
                  </tr>
                  <tr>
                    <td>Tuesday:</td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.firstTues"></span></td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.secondTues"></span></td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.thirdTues"></span></td>
                  </tr>
                  <tr>
                    <td>Wednesday:</td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.firstWed"></span></td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.secondWed"></span></td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.thirdWed"></span></td>
                  </tr>
                  <tr>
                    <td>Thursday:</td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.firstThurs"></span></td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.secondThurs"></span></td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.thirdThurs"></span></td>
                  </tr>
                  <tr>
                    <td>Friday</td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.firstFri"></span></td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.secondFri"></span></td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.thirdFri"></span></td>
                  </tr>
                  <tr>
                    <td>Saturday:</td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.firstSat"></span></td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.secondSat"></span></td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.thirdSat"></span></td>
                  </tr>
                  <tr>
                    <td>Sunday:</td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.firstSun"></span></td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.secondSun"></span></td>
                    <td><span class="glyphicon glyphicon-ok" ng-if="application.availability.thirdSun"></span></td>
                  </tr>
                  </tbody>
                </table>
            </div>
            <div class='panel-body col-md-12' ng-if='customTemplate.workReferences'>
              <div ng-if="application.workReferences.length === 0">
                <strong style="color: red">No Work References Given</strong>
              </div>
              <div ng-repeat="workRef in application.workReferences track by $index">
                <p><strong>Work Reference #{{$index + 1}}</strong></p>
                <div class='col-md-6'>
                  <p>Employer Name: {{workRef.employerName}}</p>
                  <p>Employer Address: {{workRef.address}}</p>
                  <p>Phone Number: {{workRef.phoneNumber}}</p>
                  <p>Employee Title: {{workRef.title}}</p>
                  <p>Starting Date: {{workRef.startDate | date}}</p>
                  <p>Ending Date: {{workRef.endDate | date}}</p>
                </div>
                <div class='col-md-6'>
                  <p>Supervisor Name: {{workRef.supervisorName}}</p>
                  <p>Employee Duties: {{workRef.duties}}</p>
                  <p>Starting Pay: {{workRef.startingPay}}</p>
                  <p>Ending Pay: {{workRef.endingPay}}</p>
                  <p>Reson for Leaving: {{workRef.reasonForLeaving}}</p>
                  <p>Can contact this employer?: {{ workRef.canContact ? 'Yes' : 'No'}}</p>
                </div>
              </div>
            </div>
            <div class='panel-body col-md-12' ng-if='customTemplate.personalReferences'>
              <div ng-if="application.personalReferences.length === 0">
                <strong style="color: red">No Personal References Given</strong>
              </div>
              <div ng-repeat="persRef in application.personalReferences track by $index">
                <p><strong>Personl Reference #{{$index + 1}}</strong></p>
                <div class='col-md-6'>
                  <p>Name: {{persRef.name}}</p>
                  <p>Phone Number: {{persRef.phone}}</p>
                  <p>Email: {{persRef.email}}</p>
                </div>
                <div class='col-md-6'>
                  <p>Address: {{persRef.address}}</p>
                  <p>Relationship: {{persRef.relationship}}</p>
                  <p>Years known: {{persRef.yearsKnown}}</p>
                </div>
              </div>
            </div>
            <div ng-if='customTemplate.education' class='panel-body col-md-12'>
              <div ng-repeat='(school, value) in application.education'>
                <div class='col-md-12'>
                  <p><strong>{{school === 'tradeSchool' ? "Trade School" : school === 'college' ? 'College' : 'High School'}}</strong><strong ng-if="value.schoolName === ''" style="color: red;"> None Given</strong></p>
                </div>  
                <div class='col-md-6' ng-if="!(value.schoolName === '')">
                  <p>School Name: {{value.schoolName}}</p>
                  <p>Location: {{value.location}}</p>
                  <p>Years Completed: {{value.yearsCompleted}}</p>  
                </div>
                <div class='col-md-6' ng-if="!(value.schoolName === '')">
                  <p>Field of study: {{value.fieldOfStudy}}</p>
                  <p>Degree Earned: {{value.degree}}</p>
                </div>  
              </div>
            </div>
            <div class='panel-body col-md-12'>
              <div ng-if='customTemplate.custom1'>
                <p><strong>{{customTemplate.custom1}}</strong> {{application.custom1}}</p>
              </div>
              <div ng-if='customTemplate.custom2'>
                <p><strong>{{customTemplate.custom2}}</strong> {{application.custom2}}</p>
              </div>
              <div ng-if='customTemplate.specializedSkills'>
                <p><strong>Do you have any other specialized skills or qualifications?</strong> {{application.specializedSkills ? 'Yes' : 'No'}}</p>
                <p ng-if="application.specializedSkills"><strong>Please list them:</strong> {{application.specializedSkillsList}}</p>
              </div>
              <div ng-if='customTemplate.computerRepair'>
                <p><strong>Are you authorized or ceritified to operate or repair any computer hardware or systems?</strong> {{application.computerRepair ? 'Yes' : 'No'}}</p>
                <p ng-if="application.specializedSkills"><strong>Please list them:</strong> {{application.computerRepairList}}</p>
              </div>
              <div ng-if='customTemplate.softwareExperience'>
                <p><strong>Are you certified, authorized, skilled, or experienced in the use of any software?</strong> {{application.softwareExperience ? 'Yes' : 'No'}}</p>
                <p ng-if="application.softwareExperience"><strong>Please list them:</strong> {{application.softwareExperienceList}}</p>
              </div>
              <div ng-if='customTemplate.proffesionalCerts'>
                <p><strong>If you have any proffessional ceritications please list them here:</strong> {{application.proffesionalCerts}}</p>
              </div>
              <div ng-if='customTemplate.typingSpeed'>
                <p><strong>What is your average typing speed?</strong> {{application.typingSpeed}} WPM</p>
              </div>
              <div ng-if='customTemplate.veteran'>
                <p><strong>Are you a verteran of the United States Armed Services?</strong> {{application.veteran ? 'Yes' : 'No'}}</p>
              </div>
              <div ng-if='customTemplate.otherComments'>
                <p><strong>Do you have any other comments you would like to add?</strong> {{application.otherComments ? application.otherComments : 'None'}}</p>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table> 

  </div>
</div>