
  <div class='setup' ng-init='getCurrentForm()'>
    <div class="panel panel-primary">
      <div class="panel-body">
        <h2>Step 3: set up your custom application</h2>
        <p>Great, lets set up your custom application! Once again, If you'd like to skip this step and continue without setting up a custom application, we'll set you up with our basic application. (You can always set up a custom application later.)</p>
        <button class='btn btn-info' ng-click='saveForm()'>SKIP</button>
      </div>
    </div>    
    <div class="panel panel-primary">
      <div class="panel-body">
        <p>Simply click on the checkbox next to the questions you would like to see on your custom application</p>
      </div>
    </div>    
    <div class="panel panel-primary">
      <div class='panel-heading'>
        <div class='panel-title'>Basic Information: <div class="pull-right"><span ng-if="!controls.basic">click to expand </span><span class="glyphicon glyphicon-plus" ng-click="controls.basic = !controls.basic"></span></div></div>
      </div>  
      <div class="panel-body" ng-show="controls.basic">
        <p><input type="checkbox" ng-model="application.basicInfo"><span class='panel-text'>  Full Name, Phone Number, Email Address, City/State, Zip Code</span></p>
      </div>
    </div>    
    <div class="panel panel-primary">
      <div class='panel-heading'>
        <div class='panel-title'>About Your Position: <span class="pull-right glyphicon glyphicon-plus" ng-click="controls.custom = !controls.custom"></span></div>
      </div>  
      <div class="panel-body" ng-show="controls.custom">
        <label>Please tell us about your position  (This will be displayed on your application start page):</label>
        <textarea class="form-control" rows="4" ng-model="application.positionDescription"></textarea>
        <input type="checkbox" ng-model="controls.custom1"><span class='panel-text'><label>Custom Application Question 1:</label>
        <input type="text" class="form-control" ng-show="controls.custom1" ng-model="application.custom1" placeholder="Enter your custom question here"/>
        <p><input type="checkbox" ng-model="controls.custom2"><span class='panel-text'><label>Custom Application Question 2:</label></p>
        <input type="text" ng-show="controls.custom2" class="form-control" ng-model="application.custom2" placeholder="Enter your custom question here"/>
      </div>
    </div>    
    <div class="panel panel-primary">
      <div class='panel-heading'>
        <div class='panel-title'>Position and Availability:<span class="pull-right glyphicon glyphicon-plus" ng-click="controls.pos = !controls.pos"></span></div>
      </div>  
      <div class="panel-body" ng-show="controls.pos">        
        <p><input type="checkbox" ng-model="application.position"><span class='panel-text'>What Position are you applying for?</span></p>       
        <p><input type="checkbox" ng-model="application.fullOrPartime"><span class='panel-text'>Are you seeking Full or Partime work?</span></p>      
        <p><input type="checkbox" ng-model="application.availability"><span class='panel-text'>What is your availability? (days, shifts)</span></p> 
        <div class="panel panel-primary" ng-if="application.availability">
          <div class="panel-body">
            <input type="checkbox" ng-model="application.customShiftTimes"><span class='panel-text'>I would Like to enter my own shift start and end times. (current shifts default to: open-5pm and 5pm-close)</span>
            <div class="col-md-12" ng-hide="!application.customShiftTimes">
              <div class="col-md-4 panel panel-body">
                <p>Shift 1: {{application.shift1.first}} - {{application.shift1.second}}</p>
                <shift-timepicker shift="application.shift1.first" start-or-end="true"></shift-timepicker>
                <shift-timepicker shift="application.shift1.second" start-or-end="false"></shift-timepicker>
              </div>
              <div class="col-md-4 panel panel-body">
                <p>Shift 2: {{application.shift2.first}} - {{application.shift2.second}}</p>
                <shift-timepicker shift="application.shift2.first" start-or-end="true"></shift-timepicker>
                <shift-timepicker shift="application.shift2.second" start-or-end="false"></shift-timepicker>
              </div>
              <div class="col-md-4 panel panel-body">
                <p><input type="checkbox" ng-model="application.shift3selected">Shift 3: {{application.shift3.first}} - {{application.shift3.second}}</p>
                <shift-timepicker ng-if="application.shift3selected" shift="application.shift3.first" start-or-end="true"></shift-timepicker>
                <shift-timepicker ng-if="application.shift3selected" shift="application.shift3.second" start-or-end="false"></shift-timepicker>
              </div>
            </div>
          </div>
        </div>       
        <p><input type="checkbox" ng-model="application.fired"><span class='panel-text'>Have you ever been fired from a job? If so please explain:</span></p>       
        <p><input type="checkbox" ng-model="application.crimes"><span class='panel-text'>Have you ever been convicted of a crime? (other than minor traffic violations) If so please explain:</span></p>   
        <p><input type="checkbox" ng-model="application.drugTest"><span class='panel-text'>Are you willing to submit a pre-employment drug test?</span></p>       
        <p><input type="checkbox" ng-model="application.backgroundCheck"><span class='panel-text'>Are you willing to consent to a pre-employment background check?</span></p>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class='panel-heading'>
        <div class='panel-title'>Work and Education history, Personal references:<span class="pull-right glyphicon glyphicon-plus" ng-click="controls.history = !controls.history"></span></div>
      </div>  
      <div class="panel-body" ng-show="controls.history">        
        <p><input type="checkbox" ng-model="application.workReferences"><span class='panel-text'>Please include your most recent work history:</span></p>       
        <p><input type="checkbox" ng-model="application.personalReferences"><span class='panel-text'>Pleaase include three personal references (not related to you):</span></p>
        <p><input type="checkbox" ng-model="application.education"><span class='panel-text'>Please include your education history:</span></p>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class='panel-heading'>
        <div class='panel-title'>Employment Information:<span class="pull-right glyphicon glyphicon-plus" ng-click="controls.emp = !controls.emp"></span></div>
      </div>  
      <div class="panel-body" ng-show="controls.emp">        
        <p><input type="checkbox" ng-model="application.physicalLimitation"><span class='panel-text'>Do you have any physical limitations that would interfere with the job you are applying for?</span></p>     
        <p><input type="checkbox" ng-model="application.authWorkInUS"><span class='panel-text'>Are you authorized to work in the United States? If offered employment will you be able to furnish proof?</span></p>      
        <p><input type="checkbox" ng-model="application.validDriversLicense"><span class='panel-text'>If required for the job, do you have a valid driver's license?</span></p>  
        <p><input type="checkbox" ng-model="application.overFourteen"><span class='panel-text'>Are you over 14?</span></p>
        <p><input type="checkbox" ng-model="application.overSixteen"><span class='panel-text'>Are you over 16?</span></p>
        <p><input type="checkbox" ng-model="application.overEighteen"><span class='panel-text'>Are you over 18?</span></p>
        <p><input type="checkbox" ng-model="application.overTwentyone"><span class='panel-text'>Are you over 21?</span></p>    
        <p><input type="checkbox" ng-model="application.overtime"><span class='panel-text'>If necessary, would you be available to work overtime?</span></p>      
        <p><input type="checkbox" ng-model="application.permanent"><span class='panel-text'>Are you seeking permanent or temporary employment?</span></p>
        <p><input type="checkbox" ng-model="application.adequateTrans"><span class='panel-text'>Do you have adequate transportation to and from work?</span></p>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class='panel-heading'>
        <div class='panel-title'>Specialized Skills and Certifications:<span class="pull-right glyphicon glyphicon-plus" ng-click="controls.skills = !controls.skills"></span></div>
      </div>  
      <div class="panel-body" ng-show="controls.skills">        
        <p><input type="checkbox" ng-model="application.otherLanguages"><span class='panel-text'>Are You Fluent in any other languages? If so, please list them:</span></p>       
        <p><input type="checkbox" ng-model="application.specializedSkills"><span class='panel-text'>Other qualifications such as special skills, abilities, or honors that you feel should be considered (Please list below)</span></p>     
        <p><input type="checkbox" ng-model="application.computerRepair"><span class='panel-text'>Types of computers, hardware, and other equipment you are authorized to operate or repair?</span></p>
        <p><input type="checkbox" ng-model="application.softwareExperience"><span class='panel-text'>Types of software, you are authorized, expeiernce, and or skilled to operate or repair?</span></p>      
        <p><input type="checkbox" ng-model="application.proffesionalCerts"><span class='panel-text'>Do you hold any professional licenses, certifications, or registrations? (if so please list them)</span></p>    
        <p><input type="checkbox" ng-model="application.typingSpeed"><span class='panel-text'>What is your current typing speed? (WPM)</span></p>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class='panel-heading'>
        <div class='panel-title'>Other Information:<span class="pull-right glyphicon glyphicon-plus" ng-click="controls.other = !controls.other"></span></div>
      </div>
      <div class="panel-body" ng-show="controls.other">        
        <p><input type="checkbox" ng-model="application.veteran"><span class='panel-text'>Are you a veteran of a branch of the US Armed Forces?</span></p>     
        <p><input type="checkbox" ng-model="application.dateAvailableToBeginWork"><span class='panel-text'>When are you available to start?</span></p>      
        <p><input type="checkbox" ng-model="application.otherComments"><span class='panel-text'>Do you have any other comments you would like to add?</span></p>
      </div>
    </div>       
    <div class="panel panel-primary">
      <div class="panel-body">    
        <button class='btn btn-primary' ng-click='saveForm()'>Preview Application</button>
      </div>
    </div>    
  </div>
