<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{startOrEnd ? 'Start' : "End"}}:
    <span class="caret"></span>
    </button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a ng-click="shift = 'Open'">Open</a></li>
    <li><a ng-click="shift = '12am'">12am</a></li>
    <li><a ng-click="shift = '1am'">1am</a></li>
    <li><a ng-click="shift = '2am'">2am</a></li>
    <li><a ng-click="shift = '3am'">3am</a></li>
    <li><a ng-click="shift = '4am'">4am</a></li>
    <li><a ng-click="shift = '5am'">5am</a></li>
    <li><a ng-click="shift = '6am'">6am</a></li>
    <li><a ng-click="shift = '7am'">7am</a></li>
    <li><a ng-click="shift = '8am'">8am</a></li>
    <li><a ng-click="shift = '9am'">9am</a></li>
    <li><a ng-click="shift = '10am'">10am</a></li>
    <li><a ng-click="shift = '11am'">11am</a></li>
    <li><a ng-click="shift = '12pm'">12pm</a></li>
    <li><a ng-click="shift = '1pm'">1pm</a></li>
    <li><a ng-click="shift = '2pm'">2pm</a></li>
    <li><a ng-click="shift = '3pm'">3pm</a></li>
    <li><a ng-click="shift = '4pm'">4pm</a></li>
    <li><a ng-click="shift = '5pm'">5pm</a></li>
    <li><a ng-click="shift = '6pm'">6pm</a></li>
    <li><a ng-click="shift = '7pm'">7pm</a></li>
    <li><a ng-click="shift = '8pm'">8pm</a></li>
    <li><a ng-click="shift = '9pm'">9pm</a></li>
    <li><a ng-click="shift = '10pm'">10pm</a></li>
    <li><a ng-click="shift = '11pm'">11pm</a></li>
    <li><a ng-click="shift = 'Close'">Close</a></li>
</ul>