
<div id="wrapper" class="apps" ng-init="getBusinessInfo()">
        <div class="sidebar" id="sidebarId">
            <img data-toggle="modal" data-target="#logoModal" class="sidebar-img" ng-src="{{businessData.iconURL}}" />
            <p class="sidebar-name">{{businessData.name}}</p>
            <ul>
                <li data-toggle="modal" data-target="#availabilityModal"><a>Availability Filter</a></li>
                <li data-toggle="modal" data-target="#searchModal"><a>Search</a></li>
                <li><a>Profile</a></li>
                <li><a>Custom Application</a></li>
                <li><a>Analytics</a></li>
                <li ng-click="logout()"><a>Logout</a></li>
            </ul>
        </div>
        <!-- Page Content -->
        <div class="content" id="contentId">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div >
                          <ul class="nav nav-tabs">
                            <li role="presentation" ng-click="choose($event,'new')" class="active" ><a>New({{apps.new.length}})</a></li>
                            <li role="presentation" ng-click="choose($event,'hired')"><a>Hired ({{apps.hired.length}})</a></li>
                            <li role="presentation" ng-click="choose($event,'inProgress')"><a>In Progress ({{apps.inProgress.length}})</a></li>
                            <li role="presentation" ng-click="choose($event,'highPotential')"><a>High Potential ({{apps.highPotential.length}})</a></li>
                            <li role="presentation" ng-click="choose($event,'pile')"><a>Pile ({{apps.pile.length}})</a></li>
                            <li role="presentation" ng-click="choose($event,'notHired')"><a>Not Hired</a></li>
                          </ul>
                        </div>  
                        <ja-applications ng-if='chosen.new' group='apps.new'></ja-applications>
                        <ja-applications ng-if='chosen.hired' group='apps.hired'></ja-applications>
                        <ja-applications ng-if='chosen.inProgress' group='apps.inProgress'></ja-applications>
                        <ja-applications ng-if='chosen.highPotential' group='apps.highPotential'></ja-applications>
                        <ja-applications ng-if='chosen.pile' group='apps.pile'></ja-applications>
                        <ja-applications ng-if='chosen.notHired' group='apps.notHired'></ja-applications>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

<!-- filter modal -->
<div class="modal fade" id="availabilityModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Availability Filter</h4>
        </div>
        <div class="modal-body">
            <table class='table table-reponsive table-striped'>
                <thead>
                    <tr>
                        <th><p>Available:</p></th>
                        <th ng-if="!customTemplate.customShiftTimes"><p>AM (open-5pm)</p></th>
                        <th ng-if="!customTemplate.customShiftTimes"><p>PM (5pm-close)</p></th>
                        <th ng-if="customTemplate.customShiftTimes"><p>{{customTemplate.shift1.first}} - {{customTemplate.shift1.second}}</p></th>
                        <th ng-if="customTemplate.customShiftTimes"><p>{{customTemplate.shift2.first}} - {{customTemplate.shift2.second}}</p></th>
                        <th ng-if="customTemplate.customShiftTimes && customTemplate.shift3selected"><p>{{customTemplate.shift3.first}} - {{customTemplate.shift3.second}}</p></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday:</td>
                        <td><input type="checkbox" ng-model="filterObject.availability.firstMon" /></td>
                        <td><input type="checkbox" ng-model="filterObject.availability.secondMon" /></td>
                        <td ng-if="customTemplate.shift3selected"><input type="checkbox" ng-model="filterObject.availability.thirdMon" /></td>
                    </tr>
                    <tr>
                        <td>Tuesday:</td>
                        <td><input type="checkbox" ng-model="filterObject.availability.firstTues" /></td>
                        <td><input type="checkbox" ng-model="filterObject.availability.secondTues" /></td>
                        <td ng-if="customTemplate.shift3selected"><input type="checkbox" ng-model="filterObject.availability.thirdTues" /></td>
                    </tr>
                    <tr>
                        <td>Wednesday:</td>
                        <td><input type="checkbox" ng-model="filterObject.availability.firstWed" /></td>
                        <td><input type="checkbox" ng-model="filterObject.availability.secondWed" /></td>
                        <td ng-if="customTemplate.shift3selected"><input type="checkbox" ng-model="filterObject.availability.thirdWed" /></td>
                    </tr>
                    <tr>
                        <td>Thursday:</td>
                        <td><input type="checkbox" ng-model="filterObject.availability.firstThurs" /></td>
                        <td><input type="checkbox" ng-model="filterObject.availability.secondThurs" /></td>
                        <td ng-if="customTemplate.shift3selected"><input type="checkbox" ng-model="filterObject.availability.thirdThurs" /></td>
                    </tr>
                    <tr>
                        <td>Friday:</td>
                        <td><input type="checkbox" ng-model="filterObject.availability.firstFri" /></td>
                        <td><input type="checkbox" ng-model="filterObject.availability.secondFri" /></td>
                        <td ng-if="customTemplate.shift3selected"><input type="checkbox" ng-model="filterObject.availability.thirdFri" /></td>
                    </tr>
                    <tr>
                        <td>Saturday:</td>
                        <td><input type="checkbox" ng-model="filterObject.availability.firstSat" /></td>
                        <td><input type="checkbox" ng-model="filterObject.availability.secondSat" /></td>
                        <td ng-if="customTemplate.shift3selected"><input type="checkbox" ng-model="filterObject.availability.thirdSat" /></td>
                    </tr>
                    <tr>
                        <td>Sunday:</td>
                        <td><input type="checkbox" ng-model="filterObject.availability.firstSun" /></td>
                        <td><input type="checkbox" ng-model="filterObject.availability.secondSun"/></td>
                        <td ng-if="customTemplate.shift3selected"><input type="checkbox" ng-model="filterObject.availability.thirdSun" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Search</button>
      </div>
      </div>
    </div>
  </div>

  <!-- search modal -->
  <div class="modal fade" id="searchModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Search Applications</h4>
        </div>
        <div class="modal-body">
            <label>Sorry this feature is not yet available</label>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>

  <!-- Logo modal -->
  <div class="modal fade" id="logoModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload or Change Logo</h4>
        </div>
        <div class="modal-body">
            <label>Sorry this feature is not yet available</label>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>


