<div class="panel panel-default" ng-if="appDirective === 0" ng-init="console.log('thing here')">
  <div class="panel-body">
    <div class="col-md-6">
      <h1>{{businessData.name}}</h1>
      <p><strong>Email:</strong> {{businessData.email}}</p>
      <p><strong>Phone:</strong> {{businessData.phone}}</p>
      <p><strong>Web:</strong> {{businessData.website}}</p>
    </div>
    <div class="col-md-6">
    <image class="pull-right" src="http://lorempixel.com/200/200/"></image>
    </div>
    <div ng-if="!!businessData.about">
      <strong >About the company:</strong>
      <blockquote ng-if="!!businessData.about">
        <p>{{businessData.about}}</p>
      </blockquote>
    </div>
    <div ng-if="!!businessData.about">
      <strong>About the position:</strong>
      <blockquote ng-if="template.positionDescription">
        <p>{{template.positionDescription}}</p>
      </blockquote>
    </div>
    <strong>Click "Next Step" below to begin your application</strong>
  </div>
</div>
<form name="form.appForm"></form>