<div class="panel panel-default" ng-if="appDirective === 0">
  <div class="panel-body">
    <div ng-if="businessData.iconURL" class="col-md-6 col-sm-12">
      <image class="application-logo pull-right" ng-src="{{businessData.iconURL}}" />
    </div>
    <div class="col-md-6 col-sm-12">
      <h1>{{businessData.name}}</h1>
      <p><strong>Email:</strong> {{businessData.email}}</p>
      <p><strong>Phone:</strong> {{businessData.phone}}</p>
      <p><strong>Web:</strong> {{businessData.website}}</p>
    </div>
    <div class="col-md-12">
      <div ng-if="!!businessData.about">
        <strong >About the company:</strong>
        <blockquote ng-if="!!businessData.about">
          <p>{{businessData.about}}</p>
        </blockquote>
      </div>
    </div>
    <div class="col-md-12">
      <div ng-if="!!template.positionDescription" >
        <strong>About the position:</strong>
        <blockquote ng-if="template.positionDescription">
          <p>{{template.positionDescription}}</p>
        </blockquote>
      </div>
    </div>
    <div class="col-md-12">
      <strong>Click "Next Step" below to begin your application</strong>
    </div>
  </div>
</div>
<form name="form.appForm"></form>