<div class="panel panel-default" ng-if="appDirective === 0" ng-init="console.log('thing here')">
  <div class="panel-body">
    <div class="col-md-6">
      <h1>{{businessData.name}}</h1>
      <p><strong>Email:</strong> {{businessData.email}}</p>
      <p><strong>Phone:</strong> {{businessData.phone}}</p>
      <p><strong>Web:</strong> {{businessData.website}}</p>
    </div>
    <div class="col-md-6">
    <image class="pull-right" src="http://lorempixel.com/200/200/"></image>
    </div>
    <strong>About the company:</strong>
    <blockquote>
      <p>Bacon ipsum dolor amet chicken strip steak jerky salami. Ham hock jerky strip steak, short ribs ground round turkey shank turducken porchetta pastrami spare ribs short loin ball tip. Tri-tip flank chuck meatball, landjaeger ham hock bresaola beef ribs. Jerky meatloaf turducken spare ribs. Hamburger pastrami jerky short loin beef, tail corned beef swine ham ham hock short ribs rump filet mignon cupim tri-tip. Venison pork salami, sirloin landjaeger jerky hamburger capicola biltong brisket.

Pastrami andouille tri-tip alcatra, spare ribs shank pig fatback rump hamburger porchetta cupim turducken ribeye. Pork chop beef ribs landjaeger frankfurter, tongue chicken cow prosciutto andouille. Picanha chicken filet mignon, ground round shank short loin sausage drumstick kielbasa ham hock ribeye pancetta andouille meatloaf prosciutto. Pork chop venison meatball meatloaf. Pork chop hamburger cow ham hock, biltong t-bone alcatra shankle venison.</p>
    </blockquote>
    <strong>About the position:</strong>
    <blockquote>
      <p>Bacon ipsum dolor amet chicken strip steak jerky salami. Ham hock jerky strip steak, short ribs ground round turkey shank turducken porchetta pastrami spare ribs short loin ball tip. Tri-tip flank chuck meatball, landjaeger ham hock bresaola beef ribs. Jerky meatloaf turducken spare ribs. Hamburger pastrami jerky short loin beef, tail corned beef swine ham ham hock short ribs rump filet mignon cupim tri-tip. Venison pork salami, sirloin landjaeger jerky hamburger capicola biltong brisket.

Pastrami andouille tri-tip alcatra, spare ribs shank pig fatback rump hamburger porchetta cupim turducken ribeye. Pork chop beef ribs landjaeger frankfurter, tongue chicken cow prosciutto andouille. Picanha chicken filet mignon, ground round shank short loin sausage drumstick kielbasa ham hock ribeye pancetta andouille meatloaf prosciutto. Pork chop venison meatball meatloaf. Pork chop hamburger cow ham hock, biltong t-bone alcatra shankle venison.</p>
    </blockquote>
    <strong>Click "Next Step" below to begin your application</strong>
  </div>
</div>
<form name="form.appForm"></form>