<div class="application-body">
<div class='panel panel-primary'
  <!-- availability -->
  <div class='panel-heading'>
    <div class='panel-title'><h4>Position and Availability</h4></div>
  </div>
  <div class="panel-body">
    <form name='form.appForm'>
    <div class="form-group" ng-if="template.position">
      <label>What position are you applying for?<span class="glyphicon glyphicon-asterisk"></span></label>
      <input type="text" class="form-control" ng-model="application.position" placeholder="Position" required/>
    </div>
    <div class="form-group" ng-if="template.fullOrPartime">
      <label>Are you applying for Full or Partime work?</label><span>  {{application.fullOrPartime}}</span>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Choose One:
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a ng-click="application.fullOrPartime = 'Full Time'">Full Time</a></li>
          <li><a ng-click="application.fullOrPartime = 'Part Time'">Part Time</a></li>
          <li><a ng-click="application.fullOrPartime = 'No Preference'">No Preference</a></li>
        </ul>
      </div>
    </div>
    <div ng-if="template.backgroundCheck">
      <div class="form-group">
        <label>Are you willing to submit a pre-employment background check?</label>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="application.backgroundCheck" /><label>Yes&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input type='checkbox' /><label>No</label>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group" ng-if="template.drugTest">
      <label>Are you willing to submit a pre-employment drug screen?</label>
        <div class="checkbox">
          <label>
            <input type='checkbox' ng-model='application.drugTest' /><label>Yes&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input type='checkbox' /><label>No</label>
          </label>  
        </div>
    </div>
    <div class="form-group" ng-if="template.custom1">
      <label>{{template.custom1}}<span class="glyphicon glyphicon-asterisk"></span></label>
      <input type="text" class="form-control" ng-model="application.custom1" required/>
    </div>
    <div class="form-group" ng-if="template.custom2">
      <label>{{template.custom2}}<span class="glyphicon glyphicon-asterisk"></span></label>
      <input type="text" class="form-control" ng-model="application.custom2" required/>
    </div>
    <table class='table table-reponsive table-striped' ng-if="template.availability">
      <thead>
      <tr>
        <th><p>Available:</p></th>
        <th ng-if="!template.customShiftTimes"><p>AM (open-5pm)</p></th>
        <th ng-if="!template.customShiftTimes"><p>PM (5pm-close)</p></th>
        <th ng-if="template.customShiftTimes"><p>{{template.shift1.first}} - {{template.shift1.second}}</p></th>
        <th ng-if="template.customShiftTimes"><p>{{template.shift2.first}} - {{template.shift2.second}}</p></th>
        <th ng-if="template.shift3selected"><p>{{template.shift3.first}} - {{template.shift3.second}}</p></th>
      </tr>
      </thead>
      <tbody>
      <!-- TODO add an all button -->
      <tr>
        <td>Monday:</td>
        <td><input type="checkbox" ng-model="application.availability.firstMon" /></td>
        <td><input type="checkbox" ng-model="application.availability.secondMon" /></td>
        <td ng-if="template.shift3selected"><input type="checkbox" ng-model="application.availability.thirdMon" /></td>
      </tr>
      <tr>
        <td>Tuesday:</td>
        <td><input type="checkbox" ng-model="application.availability.firstTues" /></td>
        <td><input type="checkbox" ng-model="application.availability.secondTues" /></td>
        <td ng-if="template.shift3selected"><input type="checkbox" ng-model="application.availability.thirdTues" /></td>
      </tr>
      <tr>
        <td>Wednesday:</td>
        <td><input type="checkbox" ng-model="application.availability.firstWed" /></td>
        <td><input type="checkbox" ng-model="application.availability.secondWed" /></td>
        <td ng-if="template.shift3selected"><input type="checkbox" ng-model="application.availability.thirdWed" /></td>
      </tr>
      <tr>
        <td>Thursday:</td>
        <td><input type="checkbox" ng-model="application.availability.firstThurs" /></td>
        <td><input type="checkbox" ng-model="application.availability.secondThurs" /></td>
        <td ng-if="template.shift3selected"><input type="checkbox" ng-model="application.availability.thirdThurs" /></td>
      </tr>
      <tr>
        <td>Friday</td>
        <td><input type="checkbox" ng-model="application.availability.firstFri" /></td>
        <td><input type="checkbox" ng-model="application.availability.secondFri" /></td>
        <td ng-if="template.shift3selected"><input type="checkbox" ng-model="application.availability.thirdFri" /></td>
      </tr>
      <tr>
        <td>Saturday:</td>
        <td><input type="checkbox" ng-model="application.availability.firstSat" /></td>
        <td><input type="checkbox" ng-model="application.availability.secondSat" /></td>
        <td ng-if="template.shift3selected"><input type="checkbox" ng-model="application.availability.thirdSat" /></td>
      </tr>
      <tr>
        <td>Sunday:</td>
        <td><input type="checkbox" ng-model="application.availability.firstSun" /></td>
        <td><input type="checkbox" ng-model="application.availability.secondSun" /></td>
        <td ng-if="template.shift3selected"><input type="checkbox" ng-model="application.availability.thirdSun" /></td>
      </tr>
      </tbody>
    </table>
    </form>
    <span class="glyphicon glyphicon-asterisk">Required</span>
  </div>
</div>
<span class="glyphicon glyphicon-exclamation-sign"> Note: not answering a question will automatically default the answer to 'No'</span>
</div>